.table-container {
  width: 98%;
  margin: auto;
}
h1 {
  text-align: center;
  text-transform: capitalize;
}
.error {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.error a {
  align-self: center;
  text-transform: capitalize;
  background: #cd9042;
  padding: 10px 25px;
  color: #fff;
  font: 22px bold;
  margin-top: 20px;
}
.table {
  width: 100%;
}
.table a {
  color: #00f;
}
.table table {
  margin-top: 30px;
  border: 1px solid #131921;
  width: 100%;
}
.table img {
  max-width: 200px;
}
.table th,
.table td {
  border-bottom: 1px solid #131921;
  border-left: 1px solid #131921;
  text-align: center;
  padding: 10px 0;
}
.table th:first-child,
.table td:first-child {
  border-left: none;
}
.table th {
  padding: 20px 0;
  text-transform: capitalize;
}
.table .delete-button {
  cursor: pointer;
  background: none;
  border: none;
  transition: all .3s ease;
}
.table .delete-button:hover {
  color: #cd9042;
}
.table tfoot th,
.table tfoot td {
  border-bottom: none;
}
.checkout-card {
  max-width: 100%;
  min-width: 480px;
  border: 1px solid #131921;
  margin-top: 30px;
  padding: 20px;
}
.checkout-card button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 0;
  background: #cd9042;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}
.checkout-card button:focus {
  outline: none;
}
.dt-btn {
  background: #cd9042;
  color: #fff;
  padding: 5px 15px;
  border: 1px solid #cd9042;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}
.dt-btn:hover {
  background: #fff;
  color: #cd9042;
}