.header {
	height: 60px;
	display: flex;
	align-items: center;
	color: #fff;
	background: #131921;
	position: sticky;
	top: 0;
	z-index: 100;
}
.header a {
	color: #fff;
}
.logo {
	font-size: 28px;
	text-transform: uppercase;
	margin: 0 20px;
}
.search {
	display: flex;
	flex: 1;
	align-items: center;
}
.search input {
	height: 12px;
	border: none;
	padding: 10px;
	width: 100%;
}
.search input:focus {
	outline: none;
}
.search .search-icon {
	background: #cd9042;
	padding: 5px 10px;
	cursor: pointer;
	height: 22px !important;
}
.header-navs {
	display: flex;
	justify-content: space-evenly;
}
.header-nav {
	margin: 0 10px;
	text-transform: capitalize;
}
.cart {
	margin-right: 20px;
}

/* DROP DOWN */
.dropdown {
	display: inline-block;
	position: relative;
}
.dropdown .dropdown-content {
	position: absolute;
	display: none;
	min-width: 5rem;
	z-index: 1;
	background: #131921;
	padding: 10px 0;
	margin-right: -3rem;
	text-align: center;
}
.dropdown .dropdown-content a {
	padding: 0 20px;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown .dropdown-icon {
	font-size: 12px;
}